* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  touch-action: manipulation;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  margin: 0;
  padding: 0;
}
